.locate{
    display: flex;
    
   
}
.locate-item{
    display: flex;
    list-style: none;
    position:absolute;
    margin-left: 250px;
    margin-top: 100px;
}
.locate-list{
    margin-right: 30px;
    width: 400px;
    
}
.locate-list>h2{
margin-top: 20px;
width: 350px;
height: 28px;
font-family: Space Mono;
font-style: Bold;
}
.locate-list>p{
    margin-top: 20px;
    font-size: 18px;
    width: 350px;
    height: 100px;
    font-family: Lexend Deca;
    font-style: Regular;
}
.line3{
    border: 1px solid #E5ECF4;
    height: 10px;
    width: 1173px;
    background-color: #E5ECF4;
    position: relative;
    margin-top: 150px;
}

@media only screen and (max-width:768px) {
    .locate{
        
        margin-top: -230px;
        margin-left: -100px;
    }
    .locate-item{
        flex-direction: column;
    }

    .locate-list{
        margin-bottom: 40px;
    }

    .locate-list>img{
        margin-left: -130px;
    }

    .locate-list>h2{
        margin-top: -100px;
    }
    .line3{
       display: none;
       
    }
}


